{% extends "notas/base.html" %}
{% block title %}Foods{% endblock %}
{% block content %}


{% include "components/header.html" with header=vm.content.header ui=vm.ui %}


<div class="page page--detail">
  <h1 class="title-plane-page">Tabla de Alimentos General</h1>

  <div class="table-items">
  
    <table class="table-foods">
  
      <!-- WIDTH -->
      <colgroup>
        <col style="width: 200px"><!-- Food -->
        <col style="width: 50px"><!-- Qty -->
        <col style="width: 52px"><!-- Kcal -->
        <col style="width: 63px"><!-- Protein g -->
        <col style="width: 60px"><!-- Carbs g -->
        <col style="width: 57px"><!-- Fat g -->
        <col style="width: 67px"><!-- Protein Alloc -->
        <col style="width: 67px"><!-- Carbs Alloc -->
        <col style="width: 67px"><!-- Fat Alloc -->
      </colgroup>
  
  
      <!-- HEAD -->
      <thead>
        <tr>
          <th>Food</th>
          <th>Qty<br>(g)</th>
          <th>Kcal</th>
          <th>Protein<br>g</th>
          <th>Carbs<br>g</th>
          <th>Fat<br>g</th>
          <th class="alloc-col">Protein<br>%cal</th>
          <th class="alloc-col">Carbs<br>%cal</th>
          <th class="alloc-col">Fat<br>%cal</th>
        </tr>
      </thead>
  
  
      <!-- BODY -->
      <tbody>
        {% for item in vm.content.items %}
        <tr>
          <td><a href="{{ item.url }}">{{ item.name }}</a></td>
          <td>100</td>
          <td>{{ item.total_kcal|floatformat:0 }}</td>
          <td>{{ item.protein|floatformat:1 }}</td>
          <td>{{ item.carbs|floatformat:1 }}</td>
          <td>{{ item.fat|floatformat:1 }}</td>
          {% include "components/alloc_cell_protein.html" with value=item.alloc.protein bar_class="alloc-bar--protein" %}
          {% include "components/alloc_cell_carbs.html" with value=item.alloc.carbs   bar_class="alloc-bar--carbs" %}
          {% include "components/alloc_cell_fat.html" with value=item.alloc.fat     bar_class="alloc-bar--fat" %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="8">No foods yet.</td>
        </tr>
        {% endfor %}
      </tbody>
  
    </table>
    
  </div>

</div>

{% endblock %}