  /* ALLOC CELL */


  .alloc-cell {
    position: relative;
    padding: 6px 6px;
    overflow: hidden;
    background-color: #f3f3f100;  
    font-variant-numeric: tabular-nums;
    align-items: center;
  }
  
  /* barra de fondo (100%) */
  .alloc-cell::before {
    content: "";
    position: absolute;
    inset: 6px 6px; /* respeta el padding lateral */
    height: 18px;
    background-color: white;
    z-index: 0;
    border-radius: 3px;
  }

  /* Barra de alloc */
  .alloc-bar {
    position: relative;
    height: 18px;
    width: calc(var(--alloc) * 1%);
    border-radius: 3px; 
    z-index: 1;
  }

  .alloc-bar--protein { background-color: var(--color-protein); }
  .alloc-bar--carbs   { background-color: var(--color-carbs); }
  .alloc-bar--fat     { background-color: var(--color-fat); }


  .alloc-bar span {
    display: block;
    height: 100%;
  }
  

  .alloc-text {
    font-size: 12px;
    padding-right: 10px;
    position: absolute;
    inset: 0;                 /* ocupa toda la celda */
    display: flex;
    justify-content: right;  /* centrar horizontal */
    align-items: center;      /* centrar vertical */
    z-index: 2;               /* por encima de la barra */
    font-weight: 500;
    color: #333;
    pointer-events: none;     /* no bloquea clics */
  }

