

  /* ===============================
   DAILYPLAN HEADER LAYOUT FIX
   Title arriba, navbar abajo,
   botón a la derecha
================================ */

/* Contenedor general fijo */
.back-header-page {
    position: fixed;
    top: 0;
    width: 882px;
    height: 165px;
    background-color: var(--color-bg-2);
    z-index: 100;
  }
  
  /* Fila principal */
  .list-header {
    position: fixed;
    top: 100px;
  
    width: 800px;
    padding: 16px 40px 4px 40px;
  
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
    background: #ffffff;
    border: 1px solid var(--color-border-1);
    border-radius: 8px 8px 0 0;
  
    z-index: 2000;
  }
  
  /* Bloque izquierdo: columna */
  .block-left-list-header {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  
  /* Título arriba */
  .title-list-header {
    position: relative;   /* 🔥 ya no fixed */
    top: 0;
    width: auto;
    height: auto;
  
    padding: 0;
    margin: 0;
  
    border: none;
    background: transparent;
  }

  .title-list-header h2 {
    font-size: 20px;
    margin-bottom: 2px;
    padding-right: 15px;
  }
  
  /* Navbar debajo */
  .navbar-list-header nav {
    display: flex;
    margin-left: -8px;
    gap: 0px;
    font-size: 14px;
  }
  
  /* Links */
  .navbar-list-header a {
    text-decoration: none;
    color: #37352f;
    font-weight: 400;
  }
  
  
  /* Bloque derecho */
  .block-right-list-header {
    padding-top: 6px;
    margin-left: auto;
  }
  
  /* Botón PAGE HEADER*/
  .collapse-btn {
    padding: 6px 14px;
    border-radius: 100px;
    border: 1px solid var(--color-border-1);
    background: white;
    cursor: pointer;
  }

  /* ============================
   COLLAPSE LIST BUTTON
   ============================ */

.collapse-btn {
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 500;

  border: 1px solid var(--color-border-1);
  border-radius: 8px;

  background: white;
  cursor: pointer;

  margin-bottom: 12px;
}

.collapse-btn:hover {
  background: rgba(0,0,0,0.04);
}


