

<!-- RECIBE COMO VARIABLE FATHER_CARD -->


<div class="dash-dpm-kpi-comp">


  <!-- HEADER CARD ========================================= -->
  <div class="card-main">

      <!-- TITULO FATHER ===================== -->
      <div class="card-title main">
      {% include "components/card_father_title.html" with titulo=father_card.titulo %}
      </div>    
      
      <!-- KPI FATHER ======================== -->
      <div class="card-kpi mini">
        {% include "components/dash_kpi_mini.html" with kpis=father_card.kpis %}
      </div>
  </div>

  <!-- KPI DPM ======================== -->
  {% include "components/card_mini_dpm.html" with child=father_card %}


</div>

