<div class="card">


<!-- MAIN CARD ==================================== -->
<div class="card-main">

  <!-- HEADER ==================================== -->
  <div class="card-title">
    {% include "components/card_child_title.html" with obj=item.obj %}
  </div>    
    
  <!-- KPI ========================================= -->
  {% include "components/dash_kpi.html" with kpis=vm. %}

</div>



<!-- MEALS TABLE ========================================= -->
<div class="card-table-meals">
  {% include "components/table_meals.html" with dms=item.obj.dailyplan_meals.all %}
</div>


<!-- BOTTOM SECTION ========================================= -->
<div class="card-bottom">

  <!-- METADATA ====================================== -->
  <div class="card-metadata">
    {% include "components/metadata.html" with item=item %}
  </div>

  <!-- ACTIONS ========================================= -->
    <div class="card-actions">
      {% include "components/actions.html" with obj=item %}
    </div>
  </div>
</div>
  