<div class="card-title-comp">

    <div class="label-entity label-entity--{{ titulo.label|lower|cut:" " }}">
      <i data-lucide="utensils" class="card-icon main"></i>
      {{ titulo.label }}
    </div>

    {% if titulo.category_badge %}
        <div
            class="label-fork label-fork--{{ titulo.category_badge.css }}"
            title="{{ titulo.category_badge.label }}"
            aria-label="{{ titulo.category_badge.label }}"
        >
            <i data-lucide="{{ titulo.category_badge.icon }}" class="card-icon"></i>
        </div>
    {% endif %}

    <div class="block-title-card-edit">
        <h1>{{ titulo.name }}</h1>
        <a href="{% url 'meal_rename' main_id %}">
          <i data-lucide="pencil" class="edit-title-icon"></i>
        </a>
    </div>

    <div class="label-class">
      {% for class in titulo.classes %}
        <span class="class-tag">{{ class }}</span>
      {% endfor %}
    </div>
  
  </div>
  
  