<div class="card-title-comp">

    <div class="label-entity label-entity--{{ titulo.label|lower|cut:" " }}">
      <i data-lucide="salad" class="card-icon main"></i>
      {{ titulo.label }}
    </div>

    <div class="label-fork">{{ titulo.category }}</div>

    <div class="block-title-card-edit">
        <h1>{{ titulo.name }}</h1>
        <a href="{% url 'meal_rename' main_id %}">
          <i data-lucide="pencil" class="edit-title-icon"></i>
        </a>
    </div>

    <div class="label-class">
      {% for class in titulo.classes %}
        <span class="class-tag">{{ class }}</span>
      {% endfor %}
    </div>
  
  </div>
  
  