

<div data-page="meal-detail">
 
    <div class="card-title main">
        {% include "components/card_main_title.html" with titulo=main_card.titulo %}
    </div>  
    
    <!-- KPI ========================================= -->
    <div class="page-kpi">
        
        <h3>Información Nutricional</h3>
    
        <!-- KPI ======================== -->
        <div class="card-kpi main">
            {% include "components/dash_kpi.html" with kpis=main_card.kpis %}
        </div>
    
    </div>

    <hr>

    <!-- MEALS TABLE ========================================= -->
    
    <div class="page-detail">
        <h3>Alimentos en esta Comida</h3>
        <div class="card-table-meals">
        {% include "components/table_foods.html" with items=main_card.table.items %}
        </div>
    </div>


    <!-- METADATA ========================================= -->
    <div class="card-bottom"> 
        <div class="card-metadata">
            {% include "components/metadata.html" with metadata=main_card.metadata %}
        </div>
    </div>


</div>
  