<div data-scope="meal-preview">

    <!-- TITULO =====================-->
    <div class="picker-title-row selected">
      <i data-lucide="utensils" class="selected-picker-icon meal"></i>
      <h2>
        <span data-role="preview-name"></span>
      </h2>
    </div>

    <!-- KPI ======================== -->

    <div class="dash-kpi-comp picker">

        <div class="tot">
          <p>Calorias</p>
          <h2>
            <span data-role="meal-kcal"></span>
          </h2>
        </div>
      
        <div class="macros">
      
          <!-- Protein -->
          <div class="kpi-row picker">
      
            <div class="kpi-label">Protein</div>
      
            <div class="kpi-grams">
              <span data-role="meal-protein"></span>g
            </div>
      
            <div class="kpi-alloc picker">
                <div class="alloc-pct alloc-bar-fill--protein">
                    <p data-role="alloc-protein-text">%</p>
                </div>
      
              <div
                class="alloc-bar-comp"
                data-role="alloc-protein"
                style="--alloc:0"
              >
      
                <div class="alloc-bar-bg picker"></div>
      
                <div class="alloc-bar-fill alloc-bar-fill--protein"></div>
      
              </div>
      
            </div>
      
          </div>
      
      
          <!-- Carbs -->
          <div class="kpi-row picker">
      
            <div class="kpi-label">Carbs</div>
      
            <div class="kpi-grams">
              <span data-role="meal-carbs"></span>g
            </div>
      
            <div class="kpi-alloc picker">
                <div class="alloc-pct alloc-bar-fill--carbs">
                    <p data-role="alloc-carbs-text">%</p>
                </div>
      
              <div
                class="alloc-bar-comp"
                data-role="alloc-carbs"
                style="--alloc:0"
              >
      
                <div class="alloc-bar-bg picker"></div>
      
                <div class="alloc-bar-fill alloc-bar-fill--carbs"></div>
      
              </div>
      
            </div>
      
          </div>
      
      
          <!-- Fat -->
          <div class="kpi-row picker">
      
            <div class="kpi-label">Fat</div>
      
            <div class="kpi-grams">
              <span data-role="meal-fat"></span>g
            </div>
      
            <div class="kpi-alloc picker">
                <div class="alloc-pct alloc-bar-fill--fat">
                    <p data-role="alloc-fat-text">%</p>
                </div>
      
              <div
                class="alloc-bar-comp"
                data-role="alloc-fat"
                style="--alloc:0"
              >
      
                <div class="alloc-bar-bg picker"></div>
      
                <div class="alloc-bar-fill alloc-bar-fill--fat"></div>
      
              </div>
      
            </div>
      
          </div>
      
        </div>
      
    </div>

</div>