{# components/card_header_meta.html #}

<div class="card-header">

  <!-- LEFT -->
  <div class="card-header-left">
    <h3>{{ obj.meal.name }}</h3>
    <h2>{{ obj.meal.total_kcal|floatformat:0 }} kcal</h2>
  </div>

  <!-- RIGHT -->
  <div class="card-header-right">

            {% if obj.meal.forked_from %}
            <p class="card-subtitle">Forked from {{ obj.meal.forked_from.created_by }} | {{ obj.meal.created_at|date:"Y-m-d" }}</p>
            {% endif %}

            <p class="card-subtitle">{{ obj.meal.created_by }} | 

                {% if obj.meal.is_public is not None %}
                    {% if obj.meal.is_public %}
                    Public
                    {% else %}Private
                    {% endif %}
                {% endif %}
            </p>
  </div>

</div>
