<div class="card-title-comp">

  <div class="label-entity label-entity--{{ titulo.label|lower|cut:" " }}">
    <i data-lucide="{{ titulo.icon }}" class="card-icon"></i>
    {{ titulo.label }}
  </div>

  <div class="label-fork">{{ titulo.category }}</div>

  <h3>{{ titulo.name }}</h3>

  <div class="label-class">
    {% for class in titulo.classes %}
      <span class="class-tag">{{ class }}</span>
    {% endfor %}
  </div>

  <div class="structural-indicators">
    <p>
      {% if titulo.structural_indicators.meals_count %}
        {{ titulo.structural_indicators.meals_count }} Comidas |
      {% endif %}
      {{ titulo.structural_indicators.foods_count }} Alimentos
    </p>
  </div>
  <div class="block-desplegar-tabla block-card-desplegar">
    <div class="btn-desplegar-tabla">
      <p>Alimentos</p>
      <i data-lucide="chevron-right" class="sidebar-icon"></i>
    </div>
    <div class="btn-desplegar-tabla">
      <p>Tabla Nutricional</p>
      <i data-lucide="chevron-right" class="sidebar-icon"></i>
    </div>
  </div>
</div>