<div class="card">

  <!-- HEADER CARD ========================================= -->
  <!-- ===================================================== -->
    <div class="card-main">
      <!-- TITULO ===================== -->
        <div class="card-title">
          {% include "components/card_child_title.html" with titulo=child_card.titulo %}
        </div>    
        
      <!-- KPI ======================== -->
      <div class="card-kpi">
          {% include "components/dash_kpi.html" with kpis=child_card.kpis %}
      </div>
    </div>

    <div class="block-desplegar-tabla block-card-desplegar">
      <div class="btn-desplegar-menu">
        <p>Alimentos</p>
        <i data-lucide="chevron-right" class="sidebar-icon"></i>
      </div>
      <div class="btn-desplegar-tabla">
        <p>Tabla Nutricional</p>
        <i data-lucide="chevron-right" class="sidebar-icon"></i>
      </div>
    </div>

  
  <!-- FOODS TABLE ========================================= -->
  <!-- ===================================================== -->
    <div class="card-table-foods">
      {% include "components/table_meals.html" with items=child_card.table.items %}
    </div>
  
  <!-- FOODS LIST ========================================= -->
  <!-- ===================================================== -->
  <div class="card-foods-aggregation">
    {% include "components/card_foods_aggregation.html" with foods=child_card.foods_aggregation %}
  </div>

  
  <!-- BOTTOM SECTION ====================================== -->
  <!-- ===================================================== -->
    <div class="card-bottom">
      <!-- METADATA ===================== -->
        <div class="card-metadata">
          {% include "components/metadata.html" with metadata=child_card.metadata %}
        </div>
  
      <!-- ACTIONS ====================== -->
        <div class="card-actions">
          {% include "components/card_actions.html" with actions=child_card.actions %}
        </div>
    </div>
  
</div>
      