
<div class="card-mini-dpm">
    <p><i data-lucide="utensils" class="sidebar-leading-icon"></i>
        {{ child.related_data.hour }}
        {% if child.related_data.note %}
        - {{ child.related_data.note }}
        {% endif %}
    </p>

    <div class="alloc-block-card-mini">
        <div class="kpi-alloc card-mini">
            <p>P</p>
            {% include "components/alloc_bar_mini.html" with value=child.kpis.alloc_protein kind="protein" kcal=child.kpis.kcal_protein %}
        </div>
        <div class="kpi-alloc card-mini">
            <p>C</p>
            {% include "components/alloc_bar_mini.html" with value=child.kpis.alloc_carbs kind="carbs" kcal=child.kpis.kcal_carbs %}
        </div>
        <div class="kpi-alloc card-mini">
            <p>F</p>
            {% include "components/alloc_bar_mini.html" with value=child.kpis.alloc_fat kind="fat" kcal=child.kpis.kcal_fat %}
        </div>
    </div>


</div>