<div class="dash-kpi-comp mini">

    <!-- TOTAL CAL -->
    <div class="tot mini">
      <h2>{{ kpis.tot_kcal|floatformat:0 }}</h2>
      <p>Total kcal</p>
    </div>
  
    <!-- MACROS -->
    <div class="macros mini">
  
      <!-- Protein -->
      <div class="kpi-row mini">
        <div class="kpi-label mini">Protein</div>
  
        <div class="kpi-grams mini">
          {{ kpis.g_protein|floatformat:0 }} g
        </div>
  
        <div class="kpi-ppk mini">
          <span class="proteins_per_kilo">
            {{ kpis.ppk|floatformat:1 }}g/kg
          </span>
        </div>
  
        <div class="kpi-alloc mini">
          {% include "components/alloc_bar_mini.html" with value=kpis.alloc_protein kind="protein" kcal=kpis.kcal_protein %}
        </div>
      </div>
  
  
      <!-- Carbs -->
      <div class="kpi-row mini">
        <div class="kpi-label mini">Carbs</div>
  
        <div class="kpi-grams mini">
          {{ kpis.g_carbs|floatformat:0 }} g
        </div>
  
        <div></div>
  
        <div class="kpi-alloc mini">
          {% include "components/alloc_bar_mini.html" with value=kpis.alloc_carbs kind="carbs" kcal=kpis.kcal_carbs %}
        </div>
      </div>
  
  
      <!-- Fat -->
      <div class="kpi-row mini">
        <div class="kpi-label mini">Fat</div>
  
        <div class="kpi-grams mini">
          {{ kpis.g_fat|floatformat:0 }} g
        </div>
  
        <div></div>
  
        <div class="kpi-alloc mini">
          {% include "components/alloc_bar_mini.html" with value=kpis.alloc_fat kind="fat" kcal=kpis.kcal_fat %}
        </div>
      </div>
  
    </div>
  </div>
  