<div class="dash-kpi-comp">

  <!-- TOTAL CAL -->
  <div class="tot">
    <p>Calories</p>
    <h2>{{ kpis.tot_kcal|floatformat:0 }}</h2>
    <p></p>
  </div>

  <!-- MACROS -->
  <div class="macros">

    <!-- Protein -->
    <div class="kpi-row">
      <div class="kpi-label">Protein</div>

      <div class="kpi-ppk">
        <span class="proteins_per_kilo">
          {{ kpis.ppk|floatformat:1 }}g/kg
        </span>
      </div>

      <div class="kpi-grams">
        {{ kpis.g_protein|floatformat:0 }} g
      </div>

      <div class="kpi-alloc">
        {% include "components/alloc_bar.html" with value=kpis.alloc_protein kind="protein" kcal=kpis.kcal_protein %}
      </div>
    </div>


    <!-- Carbs -->
    <div class="kpi-row">
      <div class="kpi-label">Carbs</div>

      <div></div>

      <div class="kpi-grams">
        {{ kpis.g_carbs|floatformat:0 }} g
      </div>

      <div class="kpi-alloc">
        {% include "components/alloc_bar.html" with value=kpis.alloc_carbs kind="carbs" kcal=kpis.kcal_carbs %}
      </div>
    </div>


    <!-- Fat -->
    <div class="kpi-row">
      <div class="kpi-label">Fat</div>

      <div></div>
      
      <div class="kpi-grams">
        {{ kpis.g_fat|floatformat:0 }} g
      </div>

      <div class="kpi-alloc">
        {% include "components/alloc_bar.html" with value=kpis.alloc_fat kind="fat" kcal=kpis.kcal_fat %}
      </div>
    </div>

  </div>
</div>
