<div class="card-detail-tabs card-detail-tabs--desktop block-desplegar-tabla block-card-desplegar">
    <div class="btn-desplegar is-active" data-target="#card-foods-aggregation-{{ panel_id }}">
        <p>Alimentos</p>
    </div>

    <div class="btn-desplegar" data-target="#card-grid-foods-{{ panel_id }}">
        <p>Tabla Nutricional</p>
    </div>
</div>

<div class="card-detail-tabs-mobile">
    <button
        type="button"
        class="btn-desplegar-mobile is-active"
        data-target="#card-grid-qty-{{ panel_id }}"
    >
        Alimentos
    </button>

    <button
        type="button"
        class="btn-desplegar-mobile"
        data-target="#card-grid-macros-{{ panel_id }}"
    >
        Macros
    </button>

    <button
        type="button"
        class="btn-desplegar-mobile"
        data-target="#card-grid-alloc-{{ panel_id }}"
    >
        Alloc
    </button>
</div>