<div id="card-foods-aggregation-{{ panel_id }}" class="card-foods-aggregation">
    {% include "components/grid_foods_aggregation.html" with foods=foods %}
</div>

<div id="card-grid-foods-{{ panel_id }}" class="card-table-foods">
    {% if main_id %}
        {% include desktop_grid_template with items=items main_id=main_id %}
    {% else %}
        {% include desktop_grid_template with items=items %}
    {% endif %}
</div>

<div id="card-grid-qty-{{ panel_id }}" class="card-table-foods-mobile">
    {% include "components/grid_foods_mobile_qty.html" with items=items %}
</div>

<div id="card-grid-macros-{{ panel_id }}" class="card-table-foods-mobile">
    {% include "components/grid_foods_mobile_macros.html" with items=items %}
</div>

<div id="card-grid-alloc-{{ panel_id }}" class="card-table-foods-mobile">
    {% include "components/grid_foods_mobile_alloc.html" with items=items %}
</div>