<div class="data-grid-mobile data-grid-mobile--foods-alloc">

    {% for row in items %}
        <div class="data-grid-mobile-card data-grid-mobile-card--foods-alloc">

            <div class="data-grid-mobile-card-title">
                {{ row.rel.name }}
            </div>

            <div class="data-grid-mobile-card-allocs">
                <div class="data-grid-mobile-card-alloc-row">
                    <div class="data-grid-mobile-card-alloc-label">P kcal%</div>
                    {% include "components/grid_alloc_item.html" with value=row.rel.alloc_protein kind="protein" %}
                </div>

                <div class="data-grid-mobile-card-alloc-row">
                    <div class="data-grid-mobile-card-alloc-label">C kcal%</div>
                    {% include "components/grid_alloc_item.html" with value=row.rel.alloc_carbs kind="carbs" %}
                </div>

                <div class="data-grid-mobile-card-alloc-row">
                    <div class="data-grid-mobile-card-alloc-label">F kcal%</div>
                    {% include "components/grid_alloc_item.html" with value=row.rel.alloc_fat kind="fat" %}
                </div>
            </div>

        </div>
    {% empty %}
        <div class="data-grid-empty">
            No foods added yet.
        </div>
    {% endfor %}

</div>