<div class="picker-preview-kpi">

    <div class="picker-preview-kpi__tot">
      <div class="picker-preview-kpi__tot-label">
        Calories
      </div>
      <div class="picker-preview-kpi__tot-result">
        <span id="meal-prev-kcal"></span>
      </div>
      <div class="picker-preview-kpi__tot-value impact-positive">
        +<span id="qty-kcal"></span>
      </div>
    </div>
  
    <div class="picker-preview-kpi__macros">
  
      <div class="picker-preview-kpi__row">
        <div class="picker-preview-kpi__label grams-col">
          P
        </div>
  
        <div class="picker-preview-kpi__value">
          <span class="picker-preview-inline-impact impact-positive">
            +<span id="qty-protein"></span>
          </span>
          <span class="picker-preview-inline-result">
            <span id="meal-prev-protein"></span>g
          </span>
        </div>
  
        <div class="picker-preview-kpi__ppk">
            <span class="ppk-inline" data-role="meal-prev-ppk"></span>
        </div>
  
        <div
          class="picker-preview-kpi__alloc alloc-cell"
          id="meal-prev-alloc-protein-cell"
        >
          <div class="alloc-bar alloc-bar--protein"></div>
          <span
            class="alloc-text"
            id="meal-prev-alloc-protein-text"
          ></span>
        </div>
      </div>
  
      <div class="picker-preview-kpi__row">
        <div class="picker-preview-kpi__label grams-col">
          C
        </div>
  
        <div class="picker-preview-kpi__value">
          <span class="picker-preview-inline-impact impact-positive">
            +<span id="qty-carbs"></span>
          </span>
          <span class="picker-preview-inline-result">
            <span id="meal-prev-carbs"></span>g
          </span>
        </div>
  
        <div class="picker-preview-kpi__ppk"></div>
  
        <div
          class="picker-preview-kpi__alloc alloc-cell"
          id="meal-prev-alloc-carbs-cell"
        >
          <div class="alloc-bar alloc-bar--carbs"></div>
          <span
            class="alloc-text"
            id="meal-prev-alloc-carbs-text"
          ></span>
        </div>
      </div>
  
      <div class="picker-preview-kpi__row">
        <div class="picker-preview-kpi__label grams-col">
          F
        </div>
  
        <div class="picker-preview-kpi__value">
          <span class="picker-preview-inline-impact impact-positive">
            +<span id="qty-fat"></span>
          </span>
          <span class="picker-preview-inline-result">
            <span id="meal-prev-fat"></span>g
          </span>
        </div>
  
        <div class="picker-preview-kpi__ppk"></div>
  
        <div
          class="picker-preview-kpi__alloc alloc-cell"
          id="meal-prev-alloc-fat-cell"
        >
          <div class="alloc-bar alloc-bar--fat"></div>
          <span
            class="alloc-text"
            id="meal-prev-alloc-fat-text"
          ></span>
        </div>
      </div>
  
    </div>
  
  </div>