<div class="picker-preview-kpi">

    <div class="picker-preview-kpi__tot">
        <div class="picker-preview-kpi__tot-label">
            Calories
        </div>
        <div class="picker-preview-kpi__tot-result">
            <span id="dp-prev-kcal" data-role="prev-kcal"></span>
        </div>
        <div class="picker-preview-kpi__tot-value impact-positive">
            +<span id="dp-meal-kcal" data-role="impact-meal-kcal"></span>
        </div>
    </div>
  
    <div class="picker-preview-kpi__macros">
  
      <div class="picker-preview-kpi__row">
        <div class="picker-preview-kpi__label grams-col">
          P
        </div>
  
        <div class="picker-preview-kpi__value">
          <span class="picker-preview-inline-impact impact-positive">
            +<span id="dp-meal-protein" data-role="impact-meal-protein"></span>
          </span>
          <span class="picker-preview-inline-result">
            <span id="dp-prev-protein" data-role="prev-protein"></span>g
          </span>
        </div>
  
        <div class="picker-preview-kpi__ppk">
          <span
            class="ppk-inline"
            data-role="prev-ppk"
          ></span>
        </div>
  
        <div
          class="picker-preview-kpi__alloc alloc-cell"
          id="dp-prev-alloc-protein-cell"
          data-role="prev-alloc-protein"
        >
          <div class="alloc-bar alloc-bar--protein"></div>
          <span
            class="alloc-text"
            id="dp-prev-alloc-protein-text"
            data-role="prev-alloc-protein-text"
          ></span>
        </div>
      </div>
  
      <div class="picker-preview-kpi__row">
        <div class="picker-preview-kpi__label grams-col">
          C
        </div>
  
        <div class="picker-preview-kpi__value">
          <span class="picker-preview-inline-impact impact-positive">
            +<span id="dp-meal-carbs" data-role="impact-meal-carbs"></span>
          </span>
          <span class="picker-preview-inline-result">
            <span id="dp-prev-carbs" data-role="prev-carbs"></span>g
          </span>
        </div>
  
        <div class="picker-preview-kpi__ppk"></div>
  
        <div
          class="picker-preview-kpi__alloc alloc-cell"
          id="dp-prev-alloc-carbs-cell"
          data-role="prev-alloc-carbs"
        >
          <div class="alloc-bar alloc-bar--carbs"></div>
          <span
            class="alloc-text"
            id="dp-prev-alloc-carbs-text"
            data-role="prev-alloc-carbs-text"
          ></span>
        </div>
      </div>
  
      <div class="picker-preview-kpi__row">
        <div class="picker-preview-kpi__label grams-col">
          F
        </div>
  
        <div class="picker-preview-kpi__value">
          <span class="picker-preview-inline-impact impact-positive">
            +<span id="dp-meal-fat" data-role="impact-meal-fat"></span>
          </span>
          <span class="picker-preview-inline-result">
            <span id="dp-prev-fat" data-role="prev-fat"></span>g
          </span>
        </div>
  
        <div class="picker-preview-kpi__ppk"></div>
  
        <div
          class="picker-preview-kpi__alloc alloc-cell"
          id="dp-prev-alloc-fat-cell"
          data-role="prev-alloc-fat"
        >
          <div class="alloc-bar alloc-bar--fat"></div>
          <span
            class="alloc-text"
            id="dp-prev-alloc-fat-text"
            data-role="prev-alloc-fat-text"
          ></span>
        </div>
      </div>
  
    </div>
  
  </div>