<div class="actions-comp">

    {% if actions %}
    <div class="actions">
    
        <!-- PRIMARY ACTIONS -->
        {% for action in actions %}
            {% if action.group != "overflow" %}
    
                {% if action.method == "get" %}
                    <a href="{{ action.url }}" class="action-icon-btn primary-action" title="{{ action.label }}">
                        <i data-lucide="{{ action.icon }}" class="header-action-icon"></i>
                    </a>
    
                {% elif action.method == "post" %}
                    <form action="{{ action.url }}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button
                            type="submit"
                            name="{{ action.key }}"
                            value="1"
                            class="action-icon-btn primary-action"
                            title="{{ action.label }}">
    
                            <i data-lucide="{{ action.icon }}" class="header-action-icon"></i>
    
                        </button>
                    </form>
                {% endif %}
    
            {% endif %}
        {% endfor %}
    
        <!-- OVERFLOW MENU -->
        <div class="overflow-menu">
    
            <button class="overflow-btn">
                <i data-lucide="more-horizontal" class="more-horizontal-icon"></i>
            </button>
    
            <div class="overflow-dropdown">
    
                {% for action in actions %}
                    {% if action.group == "overflow" %}
    
                        {% if action.method == "get" %}
                            <a href="{{ action.url }}" class="overflow-action">
    
                                <i data-lucide="{{ action.icon }}"></i>
                                <span>{{ action.label }}</span>
    
                            </a>
    
                        {% elif action.method == "post" %}
                            <form action="{{ action.url }}" method="post">
                                {% csrf_token %}
    
                                <button
                                    type="submit"
                                    name="{{ action.key }}"
                                    value="1"
                                    class="overflow-action">
    
                                    <i data-lucide="{{ action.icon }}"></i>
                                    <span>{{ action.label }}</span>
    
                                </button>
    
                            </form>
    
                        {% endif %}
    
                    {% endif %}
                {% endfor %}
    
            </div>
    
        </div>
    
    </div>
    {% endif %}
    
</div>