<div class="page-header">

    <div class="page-header-left">

        {% if vm.ui.is_inside %}
            <button class="mobile-menu-btn" onclick="history.back()">
                <i data-lucide="arrow-left" class="menu-icon"></i>
            </button>
        {% else %}
            <button class="mobile-menu-btn" onclick="toggleSidebar()">
                <i data-lucide="panel-right-close" class="menu-icon"></i>
            </button>
        {% endif %}
    
        <div class="label-entity header label-entity--{{ ui.nav_root }}">
            <i data-lucide="{{ ui.icon }}" class="label-icon"></i>
        </div>
    
        <div class="header-title-mobile truncate">
            <p>{{ ui.title }}</p>
            <p class="subtitle">{{ ui.root }}</p>
        </div>
    
        <div class="header-breadcrumbs">
            {% include "components/header_breadcrumbs.html" with breadcrumb=ui.breadcrumb %}
        </div>
    
    </div>

    <div class="page-header-right">
        <!-- acciones -->
        {% if header.actions %}
            {% include "components/header_actions.html" with actions=header.actions %}
        {% else %}
        <div class="btn-list-header">
            <button id="collapse-list-btn" class="collapse-btn" type="button">
                <i data-lucide="list-chevrons-down-up" class="collapse-list-icon"></i>
            </button>
        </div>
        {% endif %}
    </div>

</div>

 