{# components/actions.html #}

<div class="actions-comp">

{% if actions %}
<div class="actions">


    {% for action in actions %}
        {% if action.group != "overflow" %}

            {% if action.method == "get" %}
                <a href="{{ action.url }}">
                    <p class="action-button">{{ action.label }}</p>
                </a>

            {% elif action.method == "post" %}
                <form action="{{ action.url }}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button
                        type="submit"
                        name="{{ action.key }}"
                        value="1"
                        class="link-button">
                        <p class="action-button">{{ action.label }}</p>
                    </button>
                </form>
            {% endif %}

        {% endif %}
    {% endfor %}


    <div class="overflow-menu">

        <button class="overflow-btn">
            <i data-lucide="more-horizontal" class="more-horizontal-icon"></i>
        </button>

        <div class="overflow-dropdown">

            {% for action in actions %}
                {% if action.group == "overflow" %}

                    {% if action.method == "get" %}
                        <a href="{{ action.url }}" class="overflow-action">
                            {{ action.label }}
                        </a>

                    {% elif action.method == "post" %}
                        <form action="{{ action.url }}" method="post">
                            {% csrf_token %}
                            <button
                                type="submit"
                                name="{{ action.key }}"
                                value="1"
                                class="overflow-action">
                                {{ action.label }}
                            </button>
                        </form>

                    {% endif %}

                {% endif %}
            {% endfor %}

        </div>

    </div>

</div>
{% endif %}

</div>