<div class="page-header">

    <div class="page-header-left">
        <button class="mobile-menu-btn" onclick="toggleSidebar()">
            <i data-lucide="menu" class="menu-icon"></i>
        </button>
        <div class="label-entity header label-entity--{{ ui.nav_root }}">
            <i data-lucide="{{ ui.icon }}" class="label-icon"></i>
        </div>
        {% include "components/header_breadcrumbs.html" with breadcrumb=ui.breadcrumb %}
    </div>
    
    <div class="page-header-right">
        <!-- acciones -->
        {% if header.actions %}
            {% include "components/header_actions.html" with actions=header.actions %}
        {% else %}
        <div class="btn-list-header">
            <button id="collapse-list-btn" class="collapse-btn" type="button">
            <i data-lucide="rows-2" class="sidebar-leading-icon"></i>
            </button>
        </div>
        {% endif %}
    </div>

</div>

 