<div class="dash-entity-kpi">
  <table class="kpi-table">
    <thead>
      <tr>
        <th>KPI</th>
        <th>Protein</th>
        <th>Carbs</th>
        <th>Fat</th>
      </tr>
    </thead>

    <tbody>
      {% with entity.alloc as alloc %}
      <tr>
        <td>Grams</td>
        <td>{{ entity.protein|floatformat:1 }}</td>
        <td>{{ entity.carbs|floatformat:1 }}</td>
        <td>{{ entity.fat|floatformat:1 }}</td>
      </tr>

      <tr>
        <td>Alloc kcal</td>
        {% include "components/alloc_cell.html" with value=alloc.protein bar_class="alloc-bar--protein" %}
        {% include "components/alloc_cell.html" with value=alloc.carbs bar_class="alloc-bar--carbs" %}
        {% include "components/alloc_cell.html" with value=alloc.fat bar_class="alloc-bar--fat" %}
      </tr>
      {% endwith %}
    </tbody>
  </table>
</div>
