<div class="list-header">

  <div class="block-left-list-header">
    <div class="label-entity header label-entity--dailyplan">
      <i data-lucide="clipboard-list" class="label-icon"></i>
      Dailyplan
    </div>
    <div class="title-list-header">
      <h2>{{ header.title }}</h2>
    </div>
  </div>

  <div class="block-right-list-header">
    <div class="btn-list-header">
      <button id="collapse-list-btn" class="collapse-btn" type="button">
        <i data-lucide="rows-2" class="sidebar-leading-icon"></i>
      </button>
    </div>
  </div>
  
</div>

