

<div class="back-header-page">

    <div class="list-header">
  
      <div class="block-left-list-header">
  
        <div class="title-list-header">
          <h2>Profile</h2>
        </div>
  
        <div class="navbar-list-header">
          <nav>
      
            <a href="{% url 'dailyplan_list' %}"
                class="nav-tab nav-tab--personal tab-list {% if request.resolver_match.url_name == 'dailyplan_list' %}is-active{% endif %}">
                <span class="nav-text">Principal</span>
                <div class="nav-indicator"></div>
            </a>
        
            <a href="{% url 'dailyplan_explore_list' %}"
                class="nav-tab nav-tab--explore tab-list {% if request.resolver_match.url_name == 'dailyplan_explore_list' %}is-active{% endif %}">
                <span class="nav-text">Datos personales</span>
                <div class="nav-indicator"></div>
            </a>
        
            <a href="{% url 'dailyplan_shared_list' %}"
                class="nav-tab nav-tab--shared tab-list {% if request.resolver_match.url_name == 'dailyplan_shared_list' %}is-active{% endif %}">
                <span class="nav-text">Mis registros de peso</span>
                <div class="nav-indicator"></div>
            </a>

          </nav>
        </div>
  
      </div>
      
    </div>
  
  </div>