<div class="mf-table">
  <table class="foods-table">

    <colgroup>
      <col style="width: 60px;">
      <col class="col-name">
      <col span="5" class="col-macro">
    </colgroup>
  
    <thead>
      <tr>
        <th>Meal</th>
        <th>Time</th>
        <th>Kcal</th>
        <th>Protein</th>
        <th>Carbs</th>
        <th>Fat</th>
        <th>P %</th>
        <th>C %</th>
        <th>F %</th>
      </tr>
    </thead>
  
    <tbody>
      {% for meal in meals %}
        {% with meal.meal.alloc as alloc %}
        <tr>
          <!-- Meal name -->
          <td class="col-name">
            {% if meal.meal and meal.meal.id %}
            <a href="{{ item.meal_url }}">
              {{ meal.meal.name }}
            </a>
          {% else %}
            {{ meal.meal.name|default:"—" }}
          {% endif %}
          
          </td>
  
          <!-- Time -->
          <td>
            {% if meal.hour %}
              {{ meal.hour|time:"H:i" }}
            {% else %}
              —
            {% endif %}
          </td>

          <!-- Macros -->
          <td align="right">{{ meal.meal.total_kcal|floatformat:0 }}</td>
          <td align="right">{{ meal.meal.protein|floatformat:1 }}</td>
          <td align="right">{{ meal.meal.carbs|floatformat:1 }}</td>
          <td align="right">{{ meal.meal.fat|floatformat:1 }}</td>
  
          <!-- Alloc bars (evolución visual) -->
            {% include "components/alloc_cell.html" with value=alloc.protein bar_class="alloc-bar--protein" %}
            {% include "components/alloc_cell.html" with value=alloc.carbs   bar_class="alloc-bar--carbs" %}
            {% include "components/alloc_cell.html" with value=alloc.fat     bar_class="alloc-bar--fat" %}

        </tr>
        {% endwith %}
      {% empty %}
        <tr>
          <td colspan="9">No meals added yet.</td>
        </tr>
      {% endfor %}
    </tbody>
  
  </table>
</div>