<div id="meal-picker-section" class="section_picker is-collapsed">
  
    <div class="add-row">
      <div id="food-picker" class="selector">
        <i data-lucide="search" class="search-icon-add-row-icon"></i>
        <input
          type="text"
          id="food-search"
          placeholder="Escribe el alimento…"
          autocomplete="off"
        />
        <ul id="food-list" class="selector-list"></ul>
      </div>
    
      <button
        type="button"
        id="btn-cancel-picker-inline-food"
        class="btn-cancel-picker btn-cancel-picker-inline"
      >
        Cancelar
      </button>
    </div>
  
    <!-- FORM -->
    <form
      method="post"
      action="{% url 'add_food_to_meal' main_id %}"
      id="form-preview"
      data-meal-id="{{ main_id }}"
    >
      {% csrf_token %}
  
      <!-- Hidden fields -->
      <input type="hidden" name="food_id" id="selected-food-id">
      <input type="hidden" name="quantity" id="selected-food-quantity">
      <input type="hidden" id="food-picker-mode" value="add">
      <input type="hidden" name="return_to" value="{{ request.path }}">
  
      <input type="hidden" id="editing-mealfood-id">
      <input type="hidden" id="editing-original-quantity">
  
      <!-- PREVIEW -->
      <div id="food-preview" style="display:none;">
  
        <div class="picker-layout">
  
          <!-- LEFT : FOOD INFO -->
          <div class="picker-section picker-food-info">
  
            {% include "components/card_picker_food.html" %}
  
          </div>
  
  
          <!-- RIGHT : IMPACT -->
          <div class="picker-section picker-impact">

            <div class="picker-title-row">
              <i data-lucide="utensils" class="preview-picker-icon meal"></i>
              <h3>Preview Comida</h3>
            </div>
  
            <div class="preview-picker">
              {% include "components/grid_picker_food_preview.html" %}
            </div>
  
          </div>
  
        </div>
  
        <!-- BUTTONS -->
        <div class="actions-row">
          <button type="button" id="btn-cancel-edit" class="btn-cancel-picker">
            Cancelar
          </button>
          
          <button type="submit" id="btn-add-food" class="btn-add-picker">
            Agregar Alimento
          </button>
  
          <button type="submit" id="btn-update-food" style="display:none;" class="btn-update-picker">
            Guardar Cambios
          </button>
  
        </div>
  
      </div>
  
    </form>
  
</div>
  

<!-- JS DATA -->
{% load static %}
<script>
window.FOOD_PICKER_FOODS = {{ foods_json|safe }};
window.FOOD_PICKER_CONTEXT = {{ food_picker_context|safe }};
</script>


<script type="module" src="{% static 'notas/js/food_math.js' %}"></script>
<script type="module" src="{% static 'notas/js/food_picker.js' %}"></script>
<script type="module" src="{% static 'notas/js/food_preview.js' %}"></script>
