<!-- FORM -->
<form method="post"
      action="{% url 'dailyplan_add_meal' main_id %}"
      id="dp-form">

  {% csrf_token %}

  <div id="dailyplan-picker-section" class="section_picker is-collapsed">

    <div class="add-row add-row--meal-picker">

      <div id="meal-picker" class="selector">
        <i data-lucide="search" class="search-icon-add-row-icon"></i>
        <input
          type="text"
          id="meal-search"
          placeholder="Selecciona una comida…"
          autocomplete="off"
        />
        <ul id="meal-list" class="selector-list"></ul>
      </div>
    
      <input type="hidden" id="dp-selected-meal-id" name="meal_id">
    
      <div class="btn-create-picker">
        <a href="{% url 'create_meal_for_dailyplan' main_id %}"
           class="btn btn-sm btn-outline-primary">
           + Crear Nueva Comida
        </a>
      </div>
    
      <button
        type="button"
        id="btn-cancel-picker-inline-meal"
        class="btn-cancel-picker btn-cancel-picker-inline"
      >
        Cancelar
      </button>
    
    </div>

    <!-- PREVIEW :::::::::::::::::::::::::::::::::::::::::::::::-->
    <div id="dp-preview" style="display:none;">

      <div class="picker-layout">
    
        <!-- LEFT : MEAL INFO -->
        <div class="picker-section picker-meal-info">
          {% include "components/card_picker_meal.html" %}
        </div>
    
    
    
        <!-- RIGHT : IMPACT -->
        <div class="picker-section picker-impact">
    
          <div data-scope="day-preview">

            <h3><i data-lucide="clipboard-list" class="preview-picker-icon"></i>Preview Plan Diario</h3>
          
            <div class="preview-picker">
              {% include "components/grid_picker_meal_day_preview.html" %}
            </div>
          
          </div>
    
        </div>
    
    
      </div>
      
      <!-- BOTONES =================================== -->
      <div class="actions-row">

        <!-- ⚪ CANCEL -->
        <button type="button" id="btn-cancel-meal-edit" class="btn-cancel-picker">
          Cancelar
        </button>
  
        <!-- 🔵 ADD MODE -->
        <button type="submit" id="btn-add-meal" class="btn-add-picker">
          Agregar Comida al Plan
        </button>
  
        <!-- 🟠 EDIT MODE -->
        <button type="submit" id="btn-update-meal" style="display:none;" class="btn-update-picker">
          Reemplazar Comida en Plan
        </button>
  
      </div>
      
    </div>

  </div>

</form>

{% load static %}

<script>
  window.MEAL_PICKER_DATA = {{ meal_picker_data_json|safe }};
  window.MEAL_PICKER_CONTEXT = {{ meal_picker_context|safe }};
  window.dailyplanInitialMeal = {{ selected_meal_id|default:"null" }};
</script>




<script type="module" src="{% static 'notas/js/meal_picker.js' %}"></script>
<script type="module" src="{% static 'notas/js/meal_math.js' %}"></script>
<script type="module" src="{% static 'notas/js/meal_preview.js' %}"></script>
  