<div class="table-items edit">
  
    <table class="table-foods table-foods--edit">
  
      <!-- HEAD -->
      <thead>
        <tr>
          <th class="food-name-col edit">Alimentos</th>
          <th class="qty-col-food-table edit">Qty g|ml</th>
          <th class="kcal-col-food-table edit">Kcal</th>
          <th class="grams-col-food-table edit">P g</th>
          <th class="grams-col-food-table edit">C g</th>
          <th class="grams-col-food-table edit">F g</th>
          <th class="alloc-col-food-table edit">P %kcal<i data-lucide="info" class="table-info-icon"></i></th>
          <th class="alloc-col-food-table edit">C %kcal<i data-lucide="info" class="table-info-icon"></i></th>
          <th class="alloc-col-food-table edit">F %kcal<i data-lucide="info" class="table-info-icon"></i></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
  
  
      <!-- BODY -->
      <tbody>
        {% for row in items %}
        <tr>
          <td class="food-name-col">{{ row.rel.name }}</td>
          <td><div class="cell-qty">{{ row.rel.quantity|floatformat:0 }}</div></td>
          <td><div class="cell-kcal">{{ row.rel.total_kcal|floatformat:0 }}</div></td>
          <td>{{ row.rel.g_protein|floatformat:1 }}</td>
          <td>{{ row.rel.g_carbs|floatformat:1 }}</td>
          <td>{{ row.rel.g_fat|floatformat:1 }}</td>
          {% include "components/alloc_cell_protein.html" with value=row.rel.alloc_protein bar_class="alloc-bar--protein" %}
          {% include "components/alloc_cell_carbs.html" with value=row.rel.alloc_carbs   bar_class="alloc-bar--carbs" %}
          {% include "components/alloc_cell_fat.html" with value=row.rel.alloc_fat     bar_class="alloc-bar--fat" %}
          <td class="table-action">
            <button 
                type="button"
                class="edit-food-btn"
                data-id="{{ row.rel.id }}"
                data-food-id="{{ row.child.id }}"
                data-name="{{ row.rel.name }}"
                data-qty="{{ row.rel.quantity|floatformat:0 }}"
              >
              <i data-lucide="pencil" class="table-icon"></i>
            </button>
          </td>
          <td class="table-action">
            <form method="post" action="{% url 'mealfood_remove' row.rel.id %}">
              {% csrf_token %}
              <input type="hidden" name="return_to" value="{{ request.path }}">
              <button type="submit">
                <i data-lucide="trash" class="table-icon"></i>
              </button>
            </form>            
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  