{% extends "notas/base.html" %}

{% block title %}
Configure Meal – {{ meal.name }}
{% endblock %}

{% block content %}

<h2>Configure meal</h2>
<br>
<form method="post">
  {% csrf_token %}

  <!-- PUBLIC -->
  <p>
    <label>
      <input type="checkbox" name="is_public"
        {% if not can_publish %}disabled{% endif %}
        {% if meal.is_public %}checked{% endif %}
      >
      Make this meal public
    </label>

    {% if not can_publish %}
      <br>
      <small>🔒 Available for nutritionist plans only</small>
    {% endif %}
  </p>
<hr>
  <!-- FORKABLE -->
  <p>
    <label>
      <input type="checkbox" name="is_forkable"
        {% if meal.is_forkable %}checked{% endif %}
      >
      Allow forks
    </label>
  </p>
<hr>
  <!-- COPIABLE -->
  <p>
    <label>
      <input type="checkbox" name="is_copiable"
        {% if not can_copy %}disabled{% endif %}
        {% if meal.is_copiable %}checked{% endif %}
      >
      Allow copies
    </label>

    {% if not can_copy %}
      <br>
      <small>🔒 Copiable meals are available on higher plans</small>
    {% endif %}
  </p>
<hr>
  <button type="submit">
    {% if meal.is_draft %}
      Finalize meal
    {% else %}
      Save settings
    {% endif %}
  </button>
</form>


{% endblock %}
