{% extends "notas/base.html" %}
{% block title %}
Editing...
{% endblock %}
{% block content %}

{% include "components/header.html" with header=vm.content.header ui=vm.ui %}

<div class="header-mini-edit">
  <p>Editando...</p>
</div>

<!-- ======== PAGE BODY ===================================== -->
<div class="page page--detail edit" data-page="meal-edit">
  
  <!-- MAIN-CARD ======================================-->
  {% include "components/card_main_meal_edit.html" with main_card=vm.content.main_card %}


</div>

{% endblock %}
