{% extends "notas/base.html" %}
{% block title %}Meals{% endblock %}
{% block content %}



<div class="page">

  <div class="list-page-title">
    <i data-lucide="{{ vm.ui.page_icon }}" class="page-icon"></i>
    <h2>{{ vm.ui.title }}</h2>
  </div>
  
  {% for child in vm.content.child_cards %}
    {% include "components/card_child_meal.html" with child_card=child %}
  {% empty %}
    <p>No meals yet.</p>
  {% endfor %}

</div>

{% load static %}

<script src="{% static 'notas/js/collapse_cards.js' %}"></script>


{% endblock %}
