{% extends "notas/base.html" %}
{% block title %}Rename Meal{% endblock %}
{% block content %}

<div class="page page--detail page-modal">

  <div class="wrap-page-modal">

    <form method="post">
      {% csrf_token %}

      {% if return_to %}
        <input type="hidden" name="return_to" value="{{ return_to }}">
      {% endif %}

      <div class="main-modal">
        <i data-lucide="utensils" class="main-modal-icon meal"></i>
        <h2 class="title-create">Renombra tu Comida</h2>
        <label>Elige un nuevo Nombre</label>
        <input type="text" name="name" value="{{ meal.name }}" class="input-create">
      </div>

      <div class="btn-block">
        <button type="submit" class="btn-continue">Guardar</button>
      </div>
    </form>  

  </div>

</div>

{% endblock %}