{% extends "notas/base.html" %}
{% block title %}Inbox{% endblock %}
{% block content %}


{% include "components/list_header_nutrition.html" with header=ui.header %}
<div class="page">
    <div class="sub-page">

      <h2>Conocimientos Básicos de Nutrición</h2>
      <p>El ser humano necesita alimentarse a lo largo de su vida. 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
           sed do eiusmod tempor incididunt ut labore et dolore magna 
           aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
           ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehender</p>
    </div>
</div>
  
{% endblock %}
