{% extends "notas/base.html" %}

{% block title %}
Configure Program – {{ program.name }}
{% endblock %}

{% block content %}

<h2>Configure program</h2>
<br>

<form method="post">
  {% csrf_token %}

  <p>
    <label>
      <input
        type="checkbox"
        name="is_public"
        {% if not caps.can_publish %}disabled{% endif %}
        {% if program.is_public %}checked{% endif %}
      >
      Make this program public
    </label>
  </p>

  <hr>

  <p>
    <label>
      <input
        type="checkbox"
        name="is_forkable"
        {% if program.is_forkable %}checked{% endif %}
      >
      Allow forks
    </label>
  </p>

  <hr>

  <p>
    <label>
      <input
        type="checkbox"
        name="is_copiable"
        {% if not caps.can_copy %}disabled{% endif %}
        {% if program.is_copiable %}checked{% endif %}
      >
      Allow copies
    </label>
  </p>

  <hr>

  <button type="submit">
    {% if program.is_draft %}
      Finalize program
    {% else %}
      Save settings
    {% endif %}
  </button>
</form>

{% endblock %}
