{% extends "notas/base.html" %}
{% block title %}
Edit Meal in Daily Plan – {{ vm.meal.name }}
{% endblock %}
{% block content %}

<div class="header-mini-edit">
  <p>Editando</p>
</div>

<div class="page--minicard edit">
  {% include "components/card_mini_dpm.html" with child=vm.content.father_card %}
</div>

<div class="page page--detail dpm_meal" data-page="meal-detail">

    <!-- MAIN CARD ====-->  
    {% include "components/card_main_dpm_edit.html" with main_card=vm.content.main_card %}

</div>

{% endblock %}