{% extends "notas/base.html" %}
{% load static %}

{% block title %}
Meal – {{ vm.meal.name }}
{% endblock %}
{% block content %}

<div class="page--minicard {% if foods_json and foods_json != '[]' %}edit{% endif %}">
  {% include "components/card_mini_dpm.html" with child=vm.content.father_card %}
</div>

<div class="page page--detail dpm dpm_meal" data-page="meal-detail">

  {% if foods_json and foods_json != "[]" %}
    {% include "components/card_main_dpm_edit.html" with main_card=vm.content.main_card %}
  {% else %}
    {% include "components/card_main_dpm.html" with main_card=vm.content.main_card %}
  {% endif %}

</div>

<script src="{% static 'notas/js/mealfood_sortable.js' %}"></script>

{% endblock %}