{% extends "notas/base.html" %}
{% block title %}
Build Dailyplan – {{ dailyplan.name }}
{% endblock %}
{% block content %}


<div class="page page--detail" data-page="dailyplan-edit">

  <!-- MAIN-CARD ======================================-->
  {% include "components/card_main_dailyplan_edit.html" with main_card=ui.main_card %}

  <hr>
  <!-- ACTIONS ======================================-->
    <div class="btn-block">
      
      <!-- back to rename draft (same idea as meal) -->
      <a href="{% url 'dailyplan_rename' ui.main_card.main_id %}" data-safe-exit="true">
        <button  type="submit" class="btn-cancel-create">Volver</button>
      </a>

      <!-- continue to configuration -->
      <a href="{% url 'dailyplan_configure' ui.main_card.main_id %}" data-safe-exit="true">
        <button type="submit"  class="btn-continue">Continuar</button>
      </a>
    
    </div>



    

  <!-- MODAL ======================================-->
  <div id="unsaved-modal" class="modal" style="display:none;">
    <div class="modal-content">
      <p>Tienes cambios sin guardar. ¿Deseas salir igualmente?</p>
  
      <div class="modal-actions">
        <button id="stay-here">Seguir editando</button>
        <button id="leave-anyway">Salir sin guardar</button>
      </div>
    </div>
  </div>
       
</div>

{% endblock %}
