{% extends "notas/base.html" %}
{% block title %}
Configure Daily Plan – {{ dailyplan.name }}
{% endblock %}
{% block content %}


<div class="page page--detail page-modal">
  <div class="wrap-page-modal">
    <div class="label-entity label-entity--dailyplan page-modal }}">
      Dailyplan
    </div>

    <h2>Configura tu Plan Diario</h2>
    <br>

    <form class="configure-form" method="post">
      {% csrf_token %}

      <!-- PUBLIC ---------------------------------------->
      <p>
        <label>
          <input
            type="checkbox"
            name="is_public"
            {% if not caps.can_publish %}disabled{% endif %}
            {% if dailyplan.is_public %}checked{% endif %}
          >
          Make this daily plan public
        </label>

        {% if not caps.can_publish %}
          <br>
          <small>🔒 Public daily plans are available for nutritionists only</small>
        {% endif %}
      </p>

      <!-- FORKABLE -------------------------------------->
      <p>
        <label>
          <input
            type="checkbox"
            name="is_forkable"
            {% if dailyplan.is_forkable %}checked{% endif %}
          >
          Allow forks
        </label>
      </p>

      <!-- COPIABLE 
      <p>
        <label>
          <input
            type="checkbox"
            name="is_copiable"
            {% if not caps.can_copy %}disabled{% endif %}
            {% if dailyplan.is_copiable %}checked{% endif %}
          >
          Allow copies
        </label>

        {% if not caps.can_copy %}
          <br>
          <small>🔒 Copiable daily plans are available on higher plans</small>
        {% endif %}
      </p>
      -------------------------------------->


      <hr>
        <!-- ACTION NAVEGATION ======================================-->
        <div class="btn-block">
          <!-- 👈 Volver al paso 1 (seguro) -->
          <a>
              <button  type="submit" class="btn-cancel-create">Volver</button>
          </a>
          <button type="submit" class="btn-continue">Finalizar</button>
        </div>
    </form>
  </div>
</div>
{% endblock %}
