{% extends "notas/base.html" %}
{% block title %}Create DailyPlan{% endblock %}
{% block content %}

<div class="page page--detail page-modal">

  <div class="wrap-page-modal">

    <div class="label-entity label-entity--dailyplan }}">
      Dailyplan
    </div>

    <div class="label-fork">#variante</div>


    <!-- INIT =============================================-->

    <h2 class="title-create">Renombra tu Plan Diario</h2>

    <form method="post">
      {% csrf_token %}

      <p>
        <label>Nombre</label><br>
        <input type="text" name="name" value="{{ dailyplan.name }}"  class="input-create">
      </p>

      <button type="submit" class="btn-continue">Guardar</button>
    </form>

  </div>
  
</div>

{% endblock %}
