{% extends "notas/base.html" %}
{% block title %}Create DailyPlan{% endblock %}
{% block content %}

<div class="page page--detail page-modal">

  <div class="wrap-page-modal">


    <form method="post">
      {% csrf_token %}
      <div class="main-modal">
        <i data-lucide="utensils" class="main-modal-icon dailyplan"></i>
        <h2 class="title-create">Renombra tu Plan Diario</h2>
        <label>Elige un nuevo Nombre</label>
        <input type="text" name="name" value="{{ dailyplan.name }}"  class="input-create">
      </div>

      <div class="btn-block">
        <button type="submit"  class="btn-continue">Guardar</button>
      </div>
    </form>

  </div>
  
</div>

{% endblock %}
