/* =========================
   BASE / RESET AUTH
   ========================= */

.auth-body {
    margin: 0;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =========================
   LAYOUT
   ========================= */

.auth-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;       /* logo arriba, card abajo */
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

/* =========================
   BRAND
   ========================= */

.brand-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.brand-logo {
    max-width: 120px;
    padding-left: 5px;
    margin-bottom: 0.6rem;
}

.brand-quote {
    font-size: 0.95rem;
    opacity: 0.8;
    font-style: italic;
    margin: 6px;
}

/* =========================
   CARD
   ========================= */

.auth-card {
    background-color:   rgb(32, 32, 32);
    width: 100%;
    max-width: 300px;
    padding: 40px 32px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.auth-card h1 {
    text-align: center;
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
}

/* =========================
   FORM
   ========================= */

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Django form.as_p structure */
.auth-form p {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    margin: 0;
}

/* Labels */
.auth-form label {
    font-size: 0.85rem;
    opacity: 0.85;
    text-align: center;
}

/* Inputs */
.auth-form input {
    width: 100%;
    max-width: 276px;
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
}

.auth-form input:focus {
    outline: 2px solid #444;
}

/* =========================
   BUTTON
   ========================= */

.auth-form button {
    width: 300px;
    margin-top: 1rem;
    padding: 12px 12px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #ddd;
}

/* =========================
   FOOTER
   ========================= */

.auth-footer {
    margin-top: 1.2rem;
    text-align: center;
    font-size: 0.85rem;
}

.auth-footer a {
    color: #fff;
    text-decoration: underline;
}
