<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Notas{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'notas/css/tokens.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/utilities.css' %}">

    <link rel="stylesheet" href="{% static 'notas/css/components/page.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/page_detail.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/modal_create.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/toast.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/main_header.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/header_page.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/card_mini_dpm.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/card_child.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/card_father.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/card_title.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/dash_kpi.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/table.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/metadata.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/card_foods_aggregation.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/alloc-bar.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/alloc-cell.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/actions.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/breadcrumbs.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/food_picker.css' %}">
    <link rel="stylesheet" href="{% static 'notas/css/components/picker_list.css' %}">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>

<body>
    <div class="app">

        <!-- ===== GLOBAL HEADER (simplificado) ===== -->
        <header>
            <div class="header">
                <div class="main-header">

                    <div class="header-first-row">
                        <img src="{% static 'img/logo_negro2.png' %}" alt="Logo" class="brand-logo">

                        <div class="user">
                            <div>
                                <p>
                                    Mi peso corporal:
                                    <button class="btn-weight" onclick="openWeightModal()">
                                        {{ current_weight }}
                                    </button> kg
                                </p>
                            </div>

                            {% if request.user.is_authenticated %}
                            <div class="label-rol">
                                {% if request.user.profile.role == "member" %}Member{% endif %}
                                {% if request.user.profile.role == "nutritionist" %}Nutri{% endif %}
                            </div>

                            <h2>
                                <a href="{% url 'profile_detail' %}">
                                    {{ request.user.username }}
                                </a>
                            </h2>
                            <i data-lucide="circle-user-round" class="profile-icon"></i>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </header>

        <!-- ========= MODAL PESO ====================== -->
        <div id="weightModal" class="modal hidden">
            <div class="modal-content">
                <h3>Registrar un nuevo peso corporal</h3>
                <form method="post" action="{% url 'weight_register' %}">
                    {% csrf_token %}
                    <label>Peso (kg)</label>
                    <input id="weightInput" type="number" step="0.1" name="weight" required>
                    <div class="modal-actions">
                        <button type="submit" class="btn-primary">Confirmar</button>
                        <button type="button" onclick="closeWeightModal()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- ========= MENSAJES DJANGO ================= -->
        {% if messages %}
        <div class="toast-container">
            {% for message in messages %}
                <div class="toast">
                    <span>{{ message }}</span>
                    <button class="toast-close" onclick="this.parentElement.remove()">×</button>
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- ======== APP BODY ========================== -->
        <div class="app-body">

            <aside class="sidebar">
                <nav class="sidebar-nav">

                    <!-- DAILYPLAN ==========================-->
                    <div class="sidebar-group">    
                        
                        <button type="button" class="sidebar-main">
                            <span class="sidebar-left">
                              <i data-lucide="clipboard-list" class="sidebar-main-icon"></i>
                              <span class="sidebar-label">Planes Diarios</span>
                            </span>                  
                            <i data-lucide="chevron-right" class="sidebar-icon"></i>
                        </button>

                        <div class="sidebar-sub">

                            <a href="{% url 'dailyplan_list' %}"
                                class="nav-tab nav-tab--personal tab-list {% if vm.ui.nav_root == "dailyplan" and vm.ui.scope == "personal" %}is-active{% endif %}">
                                <i data-lucide="bookmark" class="sidebar-leading-icon"></i>
                                <span class="nav-text">
                                    Mi Libreria
                                    <span class="nav-indicator"></span>
                                </span>    
                            </a>
                    
                            <a href="{% url 'dailyplan_explore_list' %}"
                                class="nav-tab nav-tab--explore tab-list {% if vm.ui.nav_root == "dailyplan" and vm.ui.scope == "explore" %}is-active{% endif %}">
                                <i data-lucide="search" class="sidebar-leading-icon"></i>
                                <span class="nav-text">
                                    Explorar
                                    <span class="nav-indicator"></span>
                                </span>
                            </a>
                            <!--
                            <a href="{% url 'dailyplan_shared_list' %}"
                                class="nav-tab nav-tab--shared tab-list {% if vm.ui.nav_root == "dailyplan" and vm.ui.scope == "shared" %}is-active{% endif %}">
                                <i data-lucide="user-plus" class="sidebar-leading-icon"></i>
                                <span class="nav-text">                                
                                    Compartidos conmigo
                                    <span class="nav-indicator"></span>
                                </span>
                            -->
                            </a>
                    
                            <a href="{% url 'dailyplan_draft_list' %}"
                                class="nav-tab nav-tab--draft tab-list {% if vm.ui.nav_root == "dailyplan" and vm.ui.scope == "draft" %}is-active{% endif %}">
                                <i data-lucide="pencil" class="sidebar-leading-icon"></i>
                                <span class="nav-text">
                                    Borradores
                                    <span class="nav-indicator"></span>
                                </span>
                                
                            </a>
                    
                            <a href="{% url 'dailyplan_create' %}"
                                class="nav-tab nav-tab--create tab-list {% if vm.ui.nav_root == "dailyplan" and vm.ui.scope == "create" %}is-active{% endif %}">
                                <i data-lucide="circle-fading-plus" class="sidebar-leading-icon"></i>
                                <span class="nav-text">
                                    Crear
                                    <span class="nav-indicator"></span>
                                </span>
                            </a>
                        </div>
                    </div>

                    <!-- MEAL ==========================-->
                    <div class="sidebar-group">

                        <button type="button" class="sidebar-main">
                            <span class="sidebar-left">
                              <i data-lucide="salad" class="sidebar-main-icon"></i>
                              <span class="sidebar-label">Comidas</span>
                            </span>                  
                            <i data-lucide="chevron-right" class="sidebar-icon"></i>
                        </button>
                        
                        <div class="sidebar-sub">
                            <a href="{% url 'meal_list' %}"
                                class="nav-tab nav-tab--meal-personal tab-list {% if vm.ui.nav_root == "meal" and vm.ui.scope == "personal" %}is-active{% endif %}">
                                <i data-lucide="bookmark" class="sidebar-leading-icon"></i>
                                <span class="nav-text">
                                    Mi Libreria
                                    <span class="nav-indicator"></span>
                                </span>
                            </a>

                            <a href="{% url 'meal_explore_list' %}"
                                class="nav-tab nav-tab--meal-explore tab-list {% if vm.ui.nav_root == "meal" and vm.ui.scope == "explore" %}is-active{% endif %}">
                                <i data-lucide="search" class="sidebar-leading-icon"></i>
                                <span class="nav-text">
                                    Explorar
                                    <span class="nav-indicator"></span>
                                </span>
                            </a>
                            <!--
                            <a href="{% url 'meal_shared_list' %}"
                                class="nav-tab nav-tab--meal-shared tab-list {% if vm.ui.nav_root == "meal" and vm.ui.scope == "shared" %}is-active{% endif %}">
                                <i data-lucide="user-plus" class="sidebar-leading-icon"></i>
                                <span class="nav-text">
                                    Compartidos conmigo
                                    <span class="nav-indicator"></span>
                                </span>
                            </a>
                            -->

                            <a href="{% url 'meal_draft_list' %}"
                                class="nav-tab nav-tab--meal-draft tab-list {% if vm.ui.nav_root == "meal" and vm.ui.scope == "draft" %}is-active{% endif %}">
                                <i data-lucide="pencil" class="sidebar-leading-icon"></i>
                                <span class="nav-text">
                                    Borradores
                                    <span class="nav-indicator"></span>
                                </span>
                            </a>

                            <a href="{% url 'meal_create' %}"
                                class="nav-tab nav-tab--meal-create tab-list {% if vm.ui.nav_root == "meal" and vm.ui.scope == "create" %}is-active{% endif %}">
                                <i data-lucide="circle-fading-plus" class="sidebar-leading-icon"></i>
                                <span class="nav-text">
                                    Crear
                                    <span class="nav-indicator"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                    
                    <!-- FOOD ==========================-->
                    <div class="sidebar-group">

                        <button type="button" class="sidebar-main">
                            <span class="sidebar-left">
                              <i data-lucide="carrot" class="sidebar-main-icon"></i>
                              <span class="sidebar-label">Alimentos</span>
                            </span>                  
                            <i data-lucide="chevron-right" class="sidebar-icon"></i>
                        </button>

                        <div class="sidebar-sub">
                            <a href="{% url 'food_list' %}"
                                class="nav-tab nav-tab--food-personal tab-list {% if request.resolver_match.url_name == 'food_list' %}is-active{% endif %}">
                                <i data-lucide="bookmark" class="sidebar-leading-icon"></i>
                                <span class="nav-text">
                                    Todos
                                    <span class="nav-indicator"></span>
                                </span>
                            </a>

                            <a href="{% url 'food_create' %}"
                            class="nav-tab nav-tab--meal-create tab-list {% if vm.ui.nav_root == "food" and vm.ui.scope == "create" %}is-active{% endif %}">
                            <i data-lucide="circle-fading-plus" class="sidebar-leading-icon"></i>
                            <span class="nav-text">
                                Crear
                                <span class="nav-indicator"></span>
                            </span>
                        </a>
                        </div>
                    </div>

                    <hr class="sidebar-divider">


                    <!-- INBOX ==========================-->
                    <a href="{% url 'inbox_list' %}"
                        class="nav-tab nav-tab--inbox">
                        <i data-lucide="bell" class="sidebar-main-icon"></i>
                        <span class="nav-text nab-tab2">
                            Notificaciones
                            <span class="nav-indicator"></span>
                        </span>                    
                    </a>
                    
                    <!-- ELEMENTALES ==========================-->
                    <a href="{% url 'elemental_context' %}"
                    class="nav-tab nav-tab--elemental">
                        <i data-lucide="graduation-cap" class="sidebar-main-icon"></i>
                        <span class="nav-text nab-tab2">
                            Elementales
                            <span class="nav-indicator"></span>
                        </span>
                    </a>
                    
                    <!-- PROYECTO ==========================-->
                    <a href="{% url 'project_view' %}"
                    class="nav-tab nav-tab--project">
                        <i data-lucide="house" class="sidebar-main-icon"></i>
                        <span class="nav-text nab-tab2">
                            Proyecto
                            <span class="nav-indicator"></span>
                        </span>
                    </a>
                </nav>
            </aside>

            <main class="app-content">
                {% block content %}{% endblock %}
            </main>

        </div>

    </div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
    
      const groups = document.querySelectorAll(".sidebar-group");
    
      groups.forEach((group, index) => {
    
        const toggle = group.querySelector(".sidebar-main");
        const groupKey = "sidebar-group-" + index;
    
        // 🔥 Restaurar estado guardado
        const savedState = localStorage.getItem(groupKey);
        if (savedState === "open") {
          group.classList.add("is-open");
        }
    
        // 🔥 Click handler
        toggle.addEventListener("click", function () {
    
          group.classList.toggle("is-open");
    
          // Guardar nuevo estado
          if (group.classList.contains("is-open")) {
            localStorage.setItem(groupKey, "open");
          } else {
            localStorage.setItem(groupKey, "closed");
          }
    
        });
    
      });
    
    });
</script>

<script>
    lucide.createIcons();
</script>

</body>
</html>











