{% extends 'base.html' %}

{% block title %}Mis Notas{% endblock %}

{% block content %}



<h1>Crear Nota</h1>

<form method="POST">
    {% csrf_token %}
    
    <label>Título:</label><br>
    <input type="text" name="titulo" required><br><br>

    <label>Contenido:</label><br>
    <textarea name="contenido" rows="5" required></textarea><br><br>
    
    <hr>
    <h3>Agregar productos</h3>

    <select id="producto-select" name="producto_id">
        {% for p in productos %}
            <option value="{{ p.id }}">{{ p.nombre }} — ${{ p.precio }}</option>
        {% endfor %}
    </select>
    
    <button 
        type="button"
        hx-post="{% url 'htmx_agregar_producto' %}"
        hx-target="#lista-productos"
        hx-swap="beforeend"
        hx-include="#producto-select"
    >
        Agregar
    </button>
    
    <ul id="lista-productos"></ul>
    

    <br><br>



    <button type="submit">Guardar</button><br><br>
</form>

<a href="{% url 'lista_notas' %}">Volver a la lista</a>

{% endblock %}
