{% extends "notas/base.html" %}
{% block title %}Inbox{% endblock %}
{% block content %}

{% include "components/list_header_inbox.html" with header=vm.header %}

<div class="page page--detail">
    {% for item in items %}
        <div class="card">

            <p>
                <strong>{{ item.sender }} </strong>
                compartió un
                <strong> {{ item.kind }} </strong>
                contigo:
                <em> {{ item.title }}</em>
            </p>

            <a href="{{ item.open_url }}">Ver</a>

            <form method="post" action="{{ item.dismiss_url }}">
                {% csrf_token %}
                <button type="submit">Dismiss</button>
            </form>

        </div>

    {% empty %}
    <p>No tienes notificaciones.</p>
    {% endfor %}

</div>
    
{% endblock %}
    
