{% extends 'base.html' %}

{% block title %}Mis Notas{% endblock %}

{% block content %}



<h1>Mis Notas</h1>
<a href="/crear/">Crear nueva nota</a>
<br>

{% for nota in notas %}
    <div class="nota">
        <div class="titulo">{{ nota.titulo }}</div>
        <div class="fecha">{{ nota.fecha_creacion }}</div><br>
        <div class="contenido">{{ nota.contenido }}</div>
        <p><strong>Productos asociados:</strong></p>

        <ul>
            {% for p in nota.productos.all %}
                <li>{{ p.nombre }} — ${{ p.precio }}</li>
            {% empty %}
                <li>No hay productos en esta nota.</li>
            {% endfor %}
        </ul>

        <a href="{% url 'editar_nota' nota.id %}">Editar</a> |
        <a href="{% url 'borrar_nota' nota.id %}">Borrar</a>
    </div>
{% empty %}
    <p>No hay notas aún.</p>
{% endfor %}



{% endblock %}