{% extends "notas/base.html" %}
{% block title %}Inbox{% endblock %}
{% block content %}

{% load static %}
<div class="page project-page">
    <div class="sub-page">
        <img src="{% static 'img/logo_blanco.png' %}" alt="Logo" class="brand-logo project">
    
    
        <h2>Como funciona la Plataforma</h2>
        <div>
        <p>incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquiEl ser humano necesita alimentarse a lo largo de su vida. 
            Lorem ipsum dolor</p>
        </div>
        <hr>
        <div>
            <p>incididunt ut labore et dolore magna 
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquiEl ser humano necesita alimentarse a lo largo de su vida. 
                Lorem ipsum dolor</p>
            </div>
    
    </div>    
</div>
    
{% endblock %}
