{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Notas{% endblock %}</title>

    <!-- CSS global -->
    <link rel="stylesheet" href="{% static 'notas/style.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
</head>
<body>

<header>
    <nav>
        <a href="{% url 'lista_notas' %}">Notas</a>
        <div class="nav_right">
            <a href="{% url 'crear_nota' %}">Nueva Nota</a>
            <a href="{% url 'lista_productos' %}">Productos</a>

            {% if user.is_authenticated %}
                <span>Hola, {{ user.username }}</span>
                <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Cerrar sesión</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Iniciar sesión</a>
                <a href="{% url 'signup' %}">Crear cuenta</a>
            {% endif %}
        </div>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>
