.sidebar-icon {
    width: 16px;
    height: 16px;
    display: block;             /* 🔥 elimina baseline inline */
    flex-shrink: 0;
    transition: transform 0.2s ease;
    stroke-width: 2;
  }

  .profile-icon {
    height: 20px;
    width: 20px;
    flex-shrink: 0;
    color: white;
    stroke-width: 1.5;  
  }
  
  .sidebar-group.is-open .sidebar-icon {
    transform: rotate(90deg);
  }

  .sidebar-leading-icon {
    width: 18px;
    height: 18px;
    padding-bottom: 2px;
    margin-right: 4px;
    stroke-width: 1.5;
  }

  .sidebar-main-icon {
    width: 18px;
    height: 18px;
    padding-bottom: 2px;
    margin-right: 0px;
    stroke-width: 2;
  }

  .label-icon{
    width: 14px;
    height: 14px;
    stroke-width: 2;
  }

  @media (max-width: 768px) {
    .label-icon{
      width: 18px;
      height: 18px;
      stroke-width: 2;
    }
  }

  .action-icon-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    border:none;
    background:none;
    cursor:pointer;
    padding:4px;
  }

  .action-card-icon{
    height: 18px;
    width: 18px;
    margin: 0px 4px;
    stroke-width: 2;
    flex-shrink: 0;
    color: rgb(60, 60, 60);
  }

  .dpm-icon{
    width: 14px;
    height: 14px;
    color: white;
    flex-shrink: 0;
    stroke-width: 2;
}

.card_mini-dpm-info-icon{
    height: 14px;
    width: 14px;
    stroke-width: 2;
    flex-shrink: 0;
  }

.edit-title-icon{
    color: #1d1d1d;
    height: 22px;
    width: 22px;
    stroke-width: 2;
    margin-left: 10px;
  }

  .card-icon{
    width: 13px;
    height: 13px;
    display: block;             /* 🔥 elimina baseline inline */
    flex-shrink: 0;
    transition: transform 0.2s ease;
    stroke-width: 2;
}

.sidebar-icon{
    transition: transform 0.18s ease;
  }

.add-row-icon {
    height: 18px;
    width: 18px;
    stroke-width: 2.5;
    color: rgb(27, 27, 27);
    flex-shrink: 0;
}





.mobile-menu-btn,
.back-header-icon {
  background-color: transparent;
  color: rgb(60, 60, 60);
  padding: 0;
  border: none;
  cursor: pointer;
  display: none;
}

.menu-icon{
  height: 22px;
  width: 22px;
  color: rgb(60, 60, 60);
  flex-shrink: 0;
  stroke-width: 2;
}

.collapse-list-icon{
  height: 20px;
  width: 20px;
  color: rgb(60, 60, 60);
  flex-shrink: 0;
  stroke-width: 2;
}

.more-horizontal-icon,
.header-action-icon {
  margin-top: 3px;
  margin-right: 2px;
  height: 18px;
  width: 18px;
  color: rgb(60, 60, 60);
  flex-shrink: 0;
  stroke-width: 2;
}

.header-action-icon {
  margin-top: 0;
  margin-right: 4px;
  margin-left: 4px;
}

.action-icon-btn{
  display:flex;
  align-items:center;
  justify-content:center;
  background:none;
  border:none;
  cursor:pointer;
  padding:4px;
}

.metadata-icon{
    padding: 0;
    height: 18px;
    width: 18px;
    stroke-width: 2;
    flex-shrink: 0;
    color: rgb(60, 60, 60);
  }

.page-icon{
    height: 22px;
    width: 22px;
    color: rgb(25, 25, 25);
    stroke-width: 2.2;
    flex-shrink: 0;
}

.collapse-sidebar-icon{
    height: 22px;
    width: 22px;
    flex-shrink: 0;
    color: rgb(134, 134, 134);
    stroke-width: 1.5;
}

.enter-user-icon{
    height: 18px;
    width: 18px;
    flex-shrink: 0;
    color: rgb(255, 255, 255);
    stroke-width: 1.5;

    position: absolute;
    bottom: 8px;
    right: 8px;
}

.table-icon{
    color: rgb(24, 24, 24);
    stroke-width: 1.5;
    height: 13px;
    width: 13px;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
  }

.table-info-icon{
    height: 10px;
    width: 10px;
    stroke-width: 1.5x;
    flex-shrink: 0;
  }


@media (max-width: 768px) {

    .sidebar-leading-icon {
      width: 20px;
      height: 20px;
      padding-bottom: 2px;
      margin-right: 4px;
      stroke-width: 1.5;
    }

    .sidebar-icon{
      width: 18px;
      height: 18px;
    }

    .back-header-icon{
        display: flex;
        align-items: center;
        padding-right: 2px;
    }
    
    .more-horizontal-icon,
    .header-action-icon {
        height: 22px;
        width: 22px;
    }

    .enter-user-icon{
        height: 22px;
        width: 22px;
    
    }

    .action-card-icon{
        height: 22px;
        width: 22px;
    }

}
    