  .breadcrumbs {
    color: rgb(0, 0, 0);
  }
  
  .breadcrumbs a,
  .breadcrumbs span {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
  }
  
  .breadcrumbs a:hover {
    text-decoration: underline;
  }

  .breadcrumbs a + a::before,
  .breadcrumbs span + span::before,
  .breadcrumbs a + span::before,
  .breadcrumbs span + a::before {
      content: "/";
      margin-right: 6px;
      margin-left: 3px;
      opacity: 0.8;
  }