.page-father{
    max-width: 882px;
    margin: 0 auto;
    background-color: rgb(24, 85, 85, 0.7);
    padding: 0px;
    border-radius: 8px;
    margin-top: -38px;
    margin-bottom: 44px;
}

.card-father {
    max-width: 844px;
    padding: 14px 18px 10px 18px;
    border: 1px solid var(--color-border-1);
}

.card-father.edit {
    margin-top: -24px;
    margin-bottom: 30px;
}
