/* =========================
--------- TITLE -----------
========================= */

.card-title {
    font-size: 12px;
    width: 300px;
    padding: 2px 2px 0px 4px;
    margin-right: 5px;
}

/* Variacion para detail*/
.card-title.main {
  padding: 0px;
  width: 100%;
  margin-bottom: 15px;
}

  /* Contenedor relativo para posicionar label-fork */
.card-title-comp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Esto hace que los hijos se ajusten a su contenido, no al ancho completo. */
    height: 100%; /* importante si quieres que tenga fondo completo */
}

.card-title-comp h3 {
  margin: 0;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  padding: 0px;
}

.card-title-comp.mini h3 {
  color: white;
}





  /*--- LABEL ------ */
.label-entity{
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  margin-bottom: 2px;
}


.label-entity.header{
  padding: 3px 4px 1px 4px;
  margin: 0;
  border-radius: 3px;
  font-size: 13px;
  margin-right: 8px;
  color: white;
  display: inline-block;
  align-items: center;
}

.edit-title-icon{
  color: #1d1d1d;
  height: 22px;
  width: 22px;
  stroke-width: 2;
  margin-left: 10px;
}

.label-entity.page-modal{
  margin-bottom: 10px;
}

.label-entity--food {color: var(--color-food);}
.label-entity--meal {color: var(--color-meal);}
.label-entity--dailyplan {color: var(--color-dailyplan);}
.label-entity--program {color: var(--color-program);}

.label-entity.header.label-entity--food {background-color: var(--color-food);}
.label-entity.header.label-entity--meal {background-color: var(--color-meal);}
.label-entity.header.label-entity--dailyplan {background-color: var(--color-dailyplan);}
.label-entity.header.label-entity--program {background-color: var(--color-program);}






/* label-fork arriba derecha */
.label-fork {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 4px; 
  font-size: 11px;
  font-style: italic;
  font-weight: 300;
  opacity: 0.6;
}

.label-fork.mini {
  color:rgba(255, 255, 255, 0.9);
}


/* Classes horizontales */
.label-class {
  display: flex;
  margin-bottom: 5px;
}

/* Tag individual (opcional pero limpio) */
.class-tag {
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 3px;
  background: rgba(0,0,0,0.06);
}

.block-desplegar-tabla {
  display: flex;
  gap: 12px;           /* espacio entre botones */
  width: fit-content;
  color: #1e6bff;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  margin-top: auto;
  align-self: flex-start;
}

.btn-desplegar-tabla {
  display: flex;
  align-items: center;
  gap: 4px;            /* espacio entre texto e icono */
}

.btn-desplegar-tabla p{
  margin: 0;
}


.block-title-card-edit {
  display: flex;
  align-items: center;        /* ← centra verticalmente */
  justify-content: space-between; /* ← separa izquierda / derecha */
  /* width: 100%; */
}

.block-title-card-edit button{
  height: 33px;
  margin-left: 20px;
}

.structural-indicators{
  background-color: rgb(170, 170, 170);
  color: white;
  font-size: 11px;
  font-weight: 500;
  padding: 0px 6px;
  border-radius: 5px;

}

.card-icon{
    width: 12px;
    height: 12px;
    margin-right: 2px;
    display: block;             /* 🔥 elimina baseline inline */
    flex-shrink: 0;
    transition: transform 0.2s ease;
    stroke-width: 2;
}

