.dpm-mini-card-list{
    margin-top: 36px;
    margin-bottom: 10px;
}


.card-mini-dpm {
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: space-between;
    padding: 1px 12px 1px 10px;
    margin-top: 10px; /*48*/
    margin-bottom: 4px;
    background-color: rgb(56, 120, 134);
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 12px;
}

.card-mini-dpm p{
    padding: 2px;
    font-size: 13px;
    font-weight: 500;
}



.alloc-block-card-mini {
    display: grid;
    /* Control de columnas */
    grid-template-columns:
      105px    /* label */
      100px    /* label */
      100px    /* extra */
      100px;    /* grams */
  
    align-items: center;
    gap: 5px;
    height: 26px;
    
}

.alloc-block-card-mini.kpi-alloc {
    height: 18px;
}




/* CSS */
.circulo {
    display: inline-block;
    width: 12px;      /* Tamaño del círculo */
    height: 12px;
    background-color:  var(--color-dailyplan); /* Color del círculo */
    border-radius: 50%;     /* Hace el elemento circular */
    margin-right: 8px;      /* Espacio entre el círculo y la palabra */
    vertical-align: middle; /* Alineación vertical */
    margin-bottom: 2px;
  }
  

  @media (max-width: 768px){

    .card-mini-dpm{
      flex-direction: column;
      align-items: stretch;
      height: auto;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .card-mini-dpm > *{
      width: 100%;
    }

    .card-mini-dpm p{
        padding: 2px;
        font-size: 13px;
        font-weight: 500;
    }
  
  }