.dpm-mini-card-list{
    margin-top: 36px;
}


.card-mini-dpm {
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: space-between;
    padding: 1px 16px 1px 14px;
    background-color: rgb(21, 21, 21);
    color: rgb(227, 227, 227);
    font-weight: 500;
    border: 1px solid var(--color-border-1);
    border-width: 1px 1px 0 1px;
    border-radius: 14px 14px 0 0;
}

.card-mini-dpm p{
    padding: 2px;
    font-size: 13px;
    font-weight: 500;
}

.title-dpm-mini-card{
    display: flex;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    justify-content: flex-start;
}

.alloc-block-card-mini {
    display: grid;
    /* Control de columnas */
    grid-template-columns:
      100px
      100px
      100px
      10px;
  
    align-items: center;
    gap: 5px;
    height: 26px;
    
}

.alloc-block-card-mini.kpi-alloc {
    height: 18px;
}


/* CSS */
.circulo {
    display: inline-block;
    width: 12px;      /* Tamaño del círculo */
    height: 12px;
    background-color:  var(--color-dailyplan); /* Color del círculo */
    border-radius: 50%;     /* Hace el elemento circular */
    margin-right: 8px;      /* Espacio entre el círculo y la palabra */
    vertical-align: middle; /* Alineación vertical */
    margin-bottom: 2px;
  }
  

  @media (max-width: 768px){

    .card-mini-dpm{
      flex-direction: column;
      align-items: stretch;
      height: auto;
      padding: 4px 10px;
    }
  
    .card-mini-dpm > *{
      width: 100%;
    }

    .title-dpm-mini-card{
        height: 14px;
        margin-top: 3px;
        margin-bottom: 2px;
        justify-content: center;
    }



    .card-mini-dpm p{
        padding: 2px;
        font-size: 13px;
        font-weight: 500;
    }

    .alloc-block-card-mini{
        width:100%;
        padding-left: 10px;
        padding-right: 10px;
        grid-template-columns: 1fr 1fr 1fr auto;
    }
    
}