

.dash-kpi-comp {
    display: flex;
    flex-direction: row;   /* TOTAL al lado */
    align-items: stretch;
    gap: 0px;
    width: 100%;
    min-width: 0;
    background: var(--color-bg-1);
}


.dash-kpi-comp.mini {
  min-width: 520px;
  background: var(--color-bg-1);
}
 
/* == TOT ========================= */

.dash-kpi-comp .tot {
    flex: 0 0 100px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    text-align: center;
    padding: 10px;

    margin:4px;
    background-color: var(--color-kcal);
    border: 3px solid  var(--color-kcal-border);;
    border-radius: 7px;
}

.dash-kpi-comp.mini .tot {
  flex: 0 0 70px;
  padding: 6px;
}

.dash-kpi-comp.picker .tot{
  margin-left: 0;
}


  
.dash-kpi-comp .tot h2 {
    font-size: 1.9rem;
    font-weight: 550;
    margin: 0;
}

.dash-kpi-comp.mini .tot h2 {
  font-size: 1.8rem;
  font-weight: 500;
  height: 34px;
}
  
.dash-kpi-comp .tot p {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
}

.dash-kpi-comp.mini .tot p {
  font-size: 0.7rem;
}

/*------------------------------------------*/
.macros {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-right: 0px;
    margin-left: 10px;
    width: 100%;
    font-weight: 600;
}

/* Layout de cada fila KPI */
.kpi-row {
    display: grid;
  
    /* Control de columnas */
    grid-template-columns:
      60px    /* label */
      55px    /* extra */
      72px    /* grams */
      1fr;    /* alloc (flexible) */
  
    align-items: center;
    gap: clamp(0px, calc((100vw - 500px) * (5 / 300)), 5px);

  
    padding: 5px 0;
    border-bottom: 1px solid var(--color-border-2);
}

.kpi-row.picker{
  grid-template-columns:
  60px    /* label */
  55px    /* extra */
  1fr;    /* alloc (flexible) */
}


.kpi-row.mini{
    /* Control de columnas */
    grid-template-columns:
    60px
    55px
    minmax(60px, 72px)
    1fr;
    
    padding: 3px 0;
}

.kpi-row:last-child{
    border-bottom: none;
}
  

.kpi-label {
  font-weight: 600;
  font-size: 0.95rem;
}

.kpi-label.mini {
  font-weight: 600;
  font-size: 0.8rem;
  color: white;
}


.kpi-grams {
    text-align: right;
    font-variant-numeric: tabular-nums;
    font-size: 0.9rem;
    font-weight: 400;
    margin-right: 8px;
}

.kpi-grams.mini {
  font-size: 0.8rem;
  color: white;
}


.kpi-ppk {
    font-size: 0.85rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    height: 24px; 
    background-color: var(--color-ppk); 
    border-radius: 5px;
    margin-right: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.kpi-ppk.mini {
    font-size: 0.8rem;
    height: 18px;
}


.kpi-alloc {
    width: 100%;
    min-width: 0;
    display: flex;
    align-items: center;
    height: 24px;
}

.kpi-alloc.mini {
    height: 18px;
}

@media (max-width: 768px) {

  .dash-kpi-comp .tot {
    margin-left: 0px;
  }

  .dash-kpi-comp{
    margin-top: 10px;
  }
}