
.card-food-aggregation {
    display: flex;
    flex-direction: row;   /* TOTAL al lado */
    align-items: stretch;
    background: rgb(248, 248, 248);
    border-radius: 6px;
    padding-bottom: 8px;
}

.card-food-aggregation.picker {
    background: rgba(255, 255, 255, 0.649);
    margin-bottom: 30px;
    border-radius: 4px;
    border-width: 0px;
    font-size: 12px;
}

/* kcal fija derecha */

.card_food_preview_list span {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 5px;
    letter-spacing: -0.2px;
}

/* separador automático */
.card_food_preview_list span:not(:last-child)::after {
    content: " · ";
    margin-right: 4px;
}


.title-card-block {
    font-size: 11px;
    font-weight: 600;
    color: rgb(129, 129, 129);
} 