/* ===== HEADER PAGE ===== */


.page-header {
  position: fixed;
  top: 0;
  left: 240px;        /* ancho actual del sidebar */
  right: 0;

  height: 40px;

  padding: 0 40px 0 20px;

  background: #ffffff;
  border-bottom: 1px solid var(--color-border-1);

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 200;
}

.page-header-left{
  display: flex;
  align-items: center;
}

.page-header-right{
  font-size: 16px;
  text-align: right;
}

.page-header-left a{
  color: #0f0f0f;
}


.header-title-mobile{
  display:none;
  font-weight:600;
  min-width:150px;
  max-width: 200px;
}

.header-breadcrumbs{
  display:block;
}

.btn-list-header{
  height: 22px;
}

.collapse-btn {
  font-size: 12px;
  font-weight: 500;
  border: none;
  background: white;
  cursor: pointer;
}

.collapse-btn:hover {
  background: rgba(0,0,0,0.04);
}


/* ====== HEADER MINI EDIT ====== */

.header-mini-edit {
  position: fixed;
  display: flex;
  left: 240px;
  right: 0;
  height: 18px;
  background: #64f58b;
  z-index: 190;
  justify-content: center;
  align-items: center;
}


.header-mini-edit p {
  line-height: 1.2;
  font-size: 11px;
  font-style: italic;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.mobile-menu-btn,
.back-header-icon {
  background-color: transparent;
  color: rgb(60, 60, 60);
  padding: 0;
  border: none;
  cursor: pointer;
  display: none;
}

.menu-icon{
  height: 22px;
  width: 22px;
  color: rgb(60, 60, 60);
  flex-shrink: 0;
  stroke-width: 2;
}

.collapse-list-icon{
  height: 20px;
  width: 20px;
  color: rgb(60, 60, 60);
  flex-shrink: 0;
  stroke-width: 2;
}

.more-horizontal-icon,
.header-action-icon {
  margin-top: 3px;
  margin-right: 2px;
  height: 18px;
  width: 18px;
  color: rgb(60, 60, 60);
  flex-shrink: 0;
  stroke-width: 2;
}

.header-action-icon {
  margin-top: 0;
  margin-right: 4px;
  margin-left: 4px;
}

@media (max-width: 768px) {

  .page-header {
    padding: 0 10px 0 10px;
    left: 0px;
    height: 54px;
  }

  .mobile-menu-btn {
      display: flex;
      align-items: center;
      padding-right: 8px;
  }

  .back-header-icon{
      display: flex;
      align-items: center;
      padding-right: 2px;
  }

  .more-horizontal-icon,
  .header-action-icon {
    height: 20px;
    width: 20px;
  }


  .header-mini-edit {
    left: 0px;
    height: 18px;
  }

  .header-mini-edit p {
    font-size: 12px;
  }


  .header-title-mobile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2px;
  }

  .header-title-mobile > *{
    height: 22px;
  }
  
  .header-title-mobile p.subtitle{
    font-size: 13px;
    color: #676767;
    font-weight:400;
  }

  .header-breadcrumbs{
    display:none;
  }
  

}

.action-icon-btn{
  display:flex;
  align-items:center;
  justify-content:center;
  background:none;
  border:none;
  cursor:pointer;
  padding:4px;
}


.overflow-action{
  display:flex;
  align-items:center;
  gap:8px;

  padding:6px 10px;
  width:100%;

  background:none;
  border:none;
  cursor:pointer;
  text-align:left;
}

.overflow-action i{
  width:16px;
  height:16px;
  stroke-width:1.8;
}

.actions{
  display:flex;
  align-items:center;
  gap:8px;
}

/* MOBILE */
@media (max-width: 767px){

  .primary-action{
    display:inline-flex;
  }

}

/* DESKTOP */
.overflow-menu{
  display:none;
}

/* MOBILE */
@media (max-width: 768px){

  .overflow-menu{
    display:block;
  }

}

@media (max-width: 768px){

  .action-back{
    display:none !important;
  }

}