/* ===== HEADER PAGE ===== */


.page-header {
  position: fixed;
  top: 0;
  left: 240px;        /* ancho actual del sidebar */
  right: 0;

  height: 40px;

  padding: 0 40px 0 20px;

  background: #ffffff;
  border-bottom: 1px solid var(--color-border-1);

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 200;
}

.page-header-left{
  display: flex;
  align-items: center;
}

.page-header-right{
  font-size: 16px;
  text-align: right;
}

.page-header-left a{
  color: #0f0f0f;
}


.header-title-mobile{
  display:none;
  font-weight:600;
  min-width:150px;
  max-width: 200px;
}

.header-breadcrumbs{
  display:block;
}



.collapse-btn {
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 500;
  border: none;
  background: white;
  cursor: pointer;
}

.collapse-btn:hover {
  background: rgba(0,0,0,0.04);
}


/* ====== HEADER MINI EDIT ====== */

.header-mini-edit {
  position: fixed;
  display: flex;
  top: 40px;
  left: 240px;
  right: 0;
  background: #ffe683;
  z-index: 190;
  justify-content: center;
  align-items: center;
}


.header-mini-edit p {
  line-height: 1.2;
  font-size: 10px;
  font-style: italic;
  font-weight: 500;
  color: black;
}

.mobile-menu-btn {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  display: none;
}

.menu-icon{
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  stroke-width: 1.5;
}

@media (max-width: 768px) {

  .page-header {
    padding: 0 10px 0 10px;
    left: 0px;
  }

  .mobile-menu-btn {
      display: flex;
      align-items: center;
      padding-right: 10px;
  }

  .header-mini-edit {
    left: 0px;
    height: 18px;
  }

  .header-mini-edit p {
    font-size: 12px;
  }
  
  .header-title-mobile{
    display:block;
  }

  .header-breadcrumbs{
    display:none;
  }
  

}