.page.page-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
}

.wrap-page-modal{
    padding-top: 10px;
    width: 100%;
}

.title-create{
    margin-bottom: 25px;
    
}

.name-create{
    font-size: 13px;
    font-weight: 600;
    padding-left: 15px;
    margin-bottom: 5px;
}

.input-create{
    display: flex;
    padding: 10px;
    width: 310px;
    border: 1px solid #ddd;
    border-color: var(--color-border-1, #ddd);
    border-radius: 8px;
    margin: 0 10px 45px 10px;
}

.btn-block{
    display: flex;
    justify-content: space-between;  
    padding-bottom: 0px;
}

.btn-block.builder{
    padding-bottom: 0px;
}

.btn-cancel-create {
    padding: 10px;
    width: 100px;
    border-radius: 8px;
    border: none;
}


.btn-continue {
    padding: 10px;
    width: 100px;
    color: white;
    background-color: rgb(81, 88, 227);
    border: none;
    border-radius: 8px;
}
