
/* ============= PAGE ============= */

.list-page-title{
    margin-bottom: 8px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    gap: 6px; /* espacio entre icono y texto */
}

.list-page-title h2{
    font-size: 22px;
    font-weight: 500;
    color: rgb(25, 25, 25);
    margin-bottom: 0;
}

.page {
/*    max-width: 882px;
    margin: 0 auto; */
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    margin-top: 14px;
    padding: 0px;
    border-radius: 14px;
}

.page--detail{
    max-width: 900px;
    margin-top: 14px;
    padding: 20px 40px;
    background-color: white;
}

.page--detail.dpm_meal{
    border-radius: 0 0 14px 14px;
    margin-top: 0;
    border-width: 0 1px 1px 1px;
}


.page--minicard{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 14px;
}

.page--minicard.edit {
    margin-top: 32px;
}

.page.project-page {
    margin-top: -65px;
}


.page-kpi {
    padding-bottom: 10px;
}


.configure-form p {
    margin-bottom: 20px;
}

.title-plane-page{
    margin-bottom: 20px;
}

@media (max-width: 768px) {

    .page--detail {
      padding: 15px 15px;
    }
  
    .card-title {
      width: 100%;
      margin-bottom: 6px;
    }

    .list-page-title{
        display: none;
    }
  
  }