
/* ============= PAGE ============= */

.page {
/*    max-width: 882px;
    margin: 0 auto; */
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    margin-top: 16px;
    padding: 0px;
    border-radius: 14px;
}

.page--detail{
    max-width: 900px;
    margin-top: 14px;
    padding: 20px 40px;
    border: 1px solid var(--color-border-1);
    background-color: white;
}

.page--detail.dpm{
    margin-top: 8px;
}


.page--minicard{
    max-width: 900px;
    margin: 0 auto;
}

.page--detail.edit{
    margin-top: 14px;
}

.page.project-page {
    margin-top: -65px;
}


.page-kpi {
    padding-bottom: 10px;
}


.configure-form p {
    margin-bottom: 20px;
}

.title-plane-page{
    margin-bottom: 20px;
}