body {
    background: #fafafa;
    font-family: Arial;
    margin: 0;
}

header {
    background: #333;
    color: white;
    padding: 20px 50px; 
}

nav a, nav span {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.nav_right {
    float: right;
}

body {
    font-family: Arial;
    padding: 0px;
}

main {
    padding: 50px 20%;
}

.nota {
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.titulo {
    font-weight: bold;
}
.fecha {
    color: #777;
    font-size: 12px;
}